# Python virtual env
.venv/
venv/

# UV cache
.uv-cache/
.uv-cache-lock/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Local DB /
qdrant_storage/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build / dist
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/